<h1>Create a Quiz</h1>
<form name="createQuiz" ng-controller="createQuizCtrl as createCtrl">

    <!-- Meta Information -->
    <div>
        <md-input-container class="md-block" required>
            <label>Instructor Name</label>
            <input ng-model="createCtrl.createdQuiz.instructor">
        </md-input-container>
        <md-input-container class="md-block" required>
            <label>Quiz Name</label>
            <input ng-model="createCtrl.createdQuiz.quizName" type="text">
        </md-input-container>
        <md-switch ng-model="createCtrl.createdQuiz.open" aria-label="Quiz Public">
            Public
        </md-switch>
        <md-input-container class="md-block" required>
            <label>Project Type</label>
            <md-select name="type" ng-model="createCtrl.createdQuiz.type" required>
                <md-option value="multiChoice">Multi-Choice</md-option>
                <md-option value="fillInTheBlank">Fill in the Blank</md-option>
                <md-option value="freeResponse">Free Response</md-option>
            </md-select>
        </md-input-container>
    </div>
    <!-- Multiple Choice Quiz Option-->
    <div ng-show="createCtrl.createdQuiz.type == 'multiChoice'">
        <h3>Questions</h3>
        <div layout="column" ng-repeat="question in createCtrl.createdQuiz.questions track by $index">
            <div layout="row">
                <md-input-container flex class="md-block" required>
                    <label>Question {{$index + 1}}</label>
                    <input ng-model="question.question">
                </md-input-container>
                <md-button class="pull-right" ng-click="createCtrl.addNewAnswer($index)" aria-label="Add New Answer">Add Answer</md-button>
            </div>
            <md-radio-group ng-model="createdQuizKey[$index]" ng-repeat="answer in question.answers track by $index">
                <div layout="row">
                    <md-input-container class="md-block" flex required>
                        <label>{{multiChoiceLetters[$index]}}</label>
                        <input ng-model="createCtrl.createdQuiz.questions[$parent.$index].answers[$index]" type="text">
                    </md-input-container>
                    <md-radio-button aria-label="Answer is correct" value="$index"></md-radio-button>
                    <i ng-click="createCtrl.clearAnswer($parent.$index, $index)" class="material-icons">clear</i>
                </div>
            </md-radio-group>
        </div>
        <md-button ng-click="createCtrl.addQuestion()" aria-label="Add New Question" class="md-raised"> Add Question </md-button>
    </div>

    <md-button ng-click="createCtrl.submitQuiz()" aria-label="Submit" class="md-primary md-raised"> Finish </md-button>
    {{createCtrl.createdQuiz}}

</form>