<html ng-app="quizModule" ng-controller="quizCtrl" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/quiz.css">
  <title ng-bind="$root.title + ' | Click It Quiz'">{{title}}</title>
</head>

<body ng-cloak ng-controller="leftNavCtrl">
  <div class="md-primary top-nav" flex layout="column" layout-align="center center">
    <p class="main-logo">Klikit</p>
    <div layout="row">
      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="goto('page1')" name="About" md-ink-ripple="false">About</md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="Quiz">Quiz</md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="Contact">Contact</md-nav-item>
      </md-nav-bar>
      <md-button class="sign-in-button md-raised md-accent" ng-click="googleSignIn()" ng-hide="userSignedIn()">Sign In </md-button>
      <md-button class="sign-in-button md-raised md-primary" ng-click="signUserOut()" ng-show="userSignedIn()">Sign Out</md-button>

      <div class="side-nav-button"><i class="material-icons " ng-click="toggleLeft('leftNav')" hide-gt-sm>menu</i></div>
    </div>
  </div>
  <div class="main-container" layout="row">
    <md-sidenav layout="column" class="md-primary left-side-nav" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="leftNav" md-whiteframe="4">
      <md-toolbar>
        <h1 class="md-toolbar-tools">Quiz</h1>
      </md-toolbar>
      <md-button ng-click="LeftNavClose('leftNav')" href="#welcome">Home</md-button>
      <md-button ng-click="LeftNavClose('leftNav')" href="#join">Join</md-button>
      <md-button ng-click="LeftNavClose('leftNav')" href="#create">Create</md-button>
      <md-button ng-click="LeftNavClose('leftNav')" href="#edit">Edit</md-button>
      <md-button ng-click="LeftNavClose('leftNav')" href="#take">Take (remove)</md-button>
    </md-sidenav>

      <ng-view class="main-right" flex></ng-view>
  </div>
</body>


<!-- Angular Material requires Angular.js Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

<script>

</script>


<script type="text/javascript">   
    angular.module("quizModule", ['ngRoute', 'ngMaterial'])
      .config(function($mdThemingProvider) {
        $mdThemingProvider.theme('default')
          .primaryPalette('light-blue')
          .accentPalette('orange')
          .warnPalette('red');
        });
</script>

<script src="/public/quiz/_js/routes.js"></script>
<script src="/public/quiz/_js/createQuizCtrl.js"></script>
<script src="/public/quiz/_js/quizCtrl.js"></script>
<script src="/public/quiz/_js/leftNavCtrl.js"></script>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->