<html ng-app="quizModule" ng-controller="quizCtrl" lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#03a9f4" />
	<link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/public/_css/quiz.css">
	<link rel="stylesheet" type="text/css" href="/public/_css/hero-image.css">
	<link rel="stylesheet" type="text/css" href="/public/_css/welcome.css">
	<title ng-bind="$root.title + ' | Klikit Quiz'"></title>
</head>

<body ng-cloak ng-controller="leftNavCtrl as lNavCtrl">
	<div class="md-primary top-nav" flex layout="column" layout-align="center center">
		<div class="main-logo"><img src="/public/_imgs/klikitLogo.svg"></div>
		<div layout="row">
			<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
				<md-nav-item md-nav-href="#welcome" name="About">About</md-nav-item>
				<md-nav-item md-nav-href="#join" name="Quiz">Quiz</md-nav-item>
				<md-nav-item md-nav-href="#contactUs" name="Contact">Contact</md-nav-item>
			</md-nav-bar>
			<div>
				<md-button class="md-raised sign-in-button" ng-click="showUserDialog($event)" ng-hide="userSignedIn()">Sign In</md-button>
				<md-button class="md-raised sign-in-button" ng-click="showUserDialog($event)" ng-show="userSignedIn()">Sign Out</md-button>
			</div>
		</div>
	</div>
	<div class="main-container" layout="row">

		<div class="flex-margin" flex=10 hide-sm hide-xs>
			<div class="psuedo-background"></div>
		</div>

		<div flex class="main-right" md-whiteframe="7">
			<ng-view flex autoscroll="true"></ng-view>
		</div>

		<div class="flex-margin" flex=10 hide-sm hide-xs>
			<div class="psuedo-background"></div>
		</div>

	</div>
	<footer>
		<div layout="row">
			<div flex=20 hide-sm hide-xs></div>
			<div flex-gt-md=20 flex=33>
				<h4>Social</h4>
				<md-button href="#">Facebook</md-button>
				<md-button href="#">Tweeter</md-button>
				<md-button href="#">Instgrams</md-button>
			</div>
			<div flex-gt-md=20 flex=33>
				<h4>Quiz</h4>
				<md-button href="#/create">Create</md-button>
				<md-button href="#/Take">Take</md-button>
				<md-button href="#/edit">Edit</md-button>
			</div>
			<div flex-gt-md=20 flex=33>
				<h4>Contact Us</h4>
				<md-button href="#">Facebook</md-button>
				<md-button href="#">Tweeter</md-button>
				<md-button href="#">Instgrams</md-button>
			</div>
			<div flex=20 hide-sm hide-xs></div>
		</div>
	</footer>

</body>

<!-- Angular Material requires Angular.js Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="//cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>


<!-- Angular Material Library -->
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Firebase -->
<script src="//www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

<!-- AngularFire -->
<script src="//cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

<script type="text/javascript">   
      var app = angular.module("quizModule", ['firebase', 'ngRoute', 'ngMaterial'])
        .config(function($mdThemingProvider) {
          $mdThemingProvider.theme('default')
            .primaryPalette('orange')
            .accentPalette('orange')
            .warnPalette('red');
          });
  </script>

<!-- Controllers -->
<script src="/public/quiz/_js/leftNavCtrl.js"></script>
<script src="/public/quiz/_js/quizCtrl.js"></script>
<script src="/public/quiz/_js/quizCrudCtrl.js"></script>
<script src="/public/quiz/_js/routes.js"></script>
<!-- Services -->
<script src="/public/quiz/_js/services/userAccountDialog.js"></script>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->