<html ng-app="quizModule" ng-controller="quizCtrl" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/_css/quiz.css">
  <title ng-bind="$root.title + ' | Click It Quiz'"></title>
</head>

<body ng-cloak ng-controller="leftNavCtrl as lNavCtrl">
  <div class="md-primary top-nav" flex layout="column" layout-align="center center" md-whiteframe="4">
    <div class="main-logo"><img src="/public/_imgs/klikitLogo.svg"></div>
    <div layout="row">
      <!--<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-href="#welcome" name="About">About</md-nav-item>
        <md-nav-item md-nav-href="#join" name="Quiz">Quiz</md-nav-item>
        <md-nav-item md-nav-href="#contactUs" name="Contact">Contact</md-nav-item>
      </md-nav-bar>-->
      <div><i class="sign-in-button material-icons" ng-click="googleSignIn()" ng-hide="userSignedIn()">person_outline</i></div>
      <div><i class="sign-in-button material-icons" ng-click="signUserOut()" ng-show="userSignedIn()">person</i></div>

      <div class="side-nav-button"><i class="material-icons " ng-click="lNavCtrl.toggleLeft('leftNav')" hide-gt-xs>menu</i></div>
    </div>
  </div>
  <div class="main-container" layout="row">

    <div class="flex-margin" flex=5 hide-sm hide-xs></div>

    <md-sidenav layout="column" class="md-primary left-side-nav" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="leftNav">
      <md-toolbar>
        <h1 class="md-toolbar-tools">Quiz</h1>
      </md-toolbar>
      <md-button class="leftSideNavLink" ng-class="{ 'currentSelectedPage' : lNavCtrl.currentPage == 'Create'}" ng-click="lNavCtrl.LeftNavClose('leftNav')"
        href="#create">Create</md-button>
      <md-button class="leftSideNavLink" ng-class="{ 'currentSelectedPage' : lNavCtrl.currentPage == 'Take'}" ng-click="lNavCtrl.LeftNavClose('leftNav')"
        href="#join">Join</md-button>
      <md-button class="leftSideNavLink" ng-class="{ 'currentSelectedPage' : lNavCtrl.currentPage == 'Edit'}" ng-click="lNavCtrl.LeftNavClose('leftNav')"
        href="#edit">Edit</md-button>
    </md-sidenav>
    <div flex class="main-right">
      <ng-view  flex></ng-view>
    </div>
    <md-sidenav class="md-sidenav-right" md-is-locked-open="$mdMedia('gt-md')" md-component-id="right" >
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">User Hub</h1>
      </md-toolbar>
    </md-sidenav>

    <div class="flex-margin" flex=5 hide-sm hide-xs></div>

  </div>
  <footer md-whiteframe="4">
      <div layout="row" layout-align="center center">
        <div flex=20></div>
        <div flex=20>
          <h4>Social</h4>
          <a href="#">Facebook</a>
          <a href="#">Tweeter</a>
          <a href="#">Instgrams</a>
        </div>
        <div flex=20>
          <h4>Quiz</h4>
          <a href="#/create">Create</a>
          <a href="#/Take">Take</a>
          <a href="#/edit">Edit</a>
        </div>
        <div flex=20>
          <h4>Contact Us</h4>
          <a href="#">Facebook</a>
          <a href="#">Tweeter</a>
          <a href="#">Instgrams</a>
        </div>        
        <div flex=20></div>        
      </div>
  </footer>

</body>

<!-- Angular Material requires Angular.js Libraries -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

<!-- Angular Material Library -->
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Firebase -->
<script src="//www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

<!-- AngularFire -->
<script src="//cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

<script>

  </script>


<script type="text/javascript">   
      angular.module("quizModule", ['ngRoute', 'ngMaterial'])
        .config(function($mdThemingProvider) {
          $mdThemingProvider.theme('default')
            .primaryPalette('light-blue')
            .accentPalette('orange')
            .warnPalette('red');
          });
  </script>

<script src="/public/quiz/_js/routes.js"></script>
<script src="/public/quiz/_js/createQuizCtrl.js"></script>
<script src="/public/quiz/_js/quizCtrl.js"></script>
<script src="/public/quiz/_js/leftNavCtrl.js"></script>

</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
-->