<div ng-hide="quiz">
    <h1>Join a Quiz</h1>
        <md-input-container class="md-block" flex-gt-sm="">
            <label>Quiz ID</label>
            <input ng-model="joinQuizId" type="text">
        </md-input-container>
        <md-button type="submit" aria-label="Submit" class="md-primary md-raised" ng-click="joinQuiz(joinQuizId)"> Submit </md-button>
</div>
<div ng-show="quiz">
    <h1 ng-bind="quiz.quizName"></h1>
    <form name="quizForm">
        <div ng-repeat="(key, question) in quiz.questions">
            <h3 ng-bind="question.question"></h3>
            <md-radio-group ng-model="quizAnswers[key]" required>
                <md-radio-button ng-repeat="answer in question.answers" aria-label="{{answer}}" value="{{answer}}">
                    <p ng-bind="answer"></p>
                </md-radio-button>
            </md-radio-group>
        </div>
        <md-button type="submit" ng-click="submitQuizAnswers(quiz.id)" ng-hide="quizForm.$invalid" class="md-accent md-fab md-fab-bottom-right">
            &#x2714;
        </md-button>
    </form>
</div>
