<md-sidenav layout="column" class="md-primary left-side-quiz-nav" md-is-locked-open="$mdMedia('gt-xs')" md-component-id="leftNav">
	<md-toolbar>
		<p class="md-toolbar-tools">Quiz</p>
	</md-toolbar>
	<md-button class="leftSideNavLink" ng-class="{ 'currentSelectedPage' : lNavCtrl.currentPage == 'Take'}" ng-click="lNavCtrl.LeftNavClose('leftNav')"
		href="#join">Join</md-button>
	<md-button class="leftSideNavLink" ng-class="{ 'currentSelectedPage' : lNavCtrl.currentPage == 'Create'}" ng-click="lNavCtrl.LeftNavClose('leftNav')"
		href="#create">Create</md-button>
	<md-button class="leftSideNavLink" ng-class="{ 'currentSelectedPage' : lNavCtrl.currentPage == 'Edit'}" ng-click="lNavCtrl.LeftNavClose('leftNav')"
		href="#edit">Edit</md-button>
</md-sidenav>