<!DOCTYPE html>
<html>
  <head>
    <title>| Quiz</title>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
     <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
     <link rel='stylesheet' href='/stylesheets/style.css' />
  <script type="text/javascript">
    var app = angular.module("quizModule", ["ngRoute"]);

    app.config(function($routeProvider) {
        $routeProvider
        .when("/", {
        })
        .when("/red", {
        })
        .when("/green", {
        })
        .when("/blue", {
        });
    });

    app.controller('quizCtrl', function($scope, $http) {
        $scope.firstName= "John";
        $scope.lastName= "Doe";
    });

  </script>  </head>
  <body ng-app="quizModule">
    <div class="ng-view"></div>
    <h1>HTML</h1>
        <p><a href="#/">Main</a></p>

        <a href="#red">Red</a>
        <a href="#green">Green</a>
        <a href="#blue">Blue</a>

        <p id="red">tester here</p>

  </body>
</html>
