<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | clickIt Quiz</title>
    <% include ../partials/head %>
<!--     <link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
    <h1>Quiz</h1>
    <p>Quiz Options</p>
    <ul>
        <li><a href="join" >Join</a></li>
        <li><a href="create" >Create</a></li>
    </ul>
  </body>
</html>
