<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | clickIt Quiz</title>
    <% include ../partials/head %>
<!--     <link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
    <h1>Failure to Start Quiz</h1>
    <a href="join" >Join Quiz</a>
    <a href="create" >Create Quiz</a>
  </body>
</html>
