<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | clickIt Quiz</title>
    <% include ../partials/head %>
<!--     <link rel='stylesheet' href='/stylesheets/style.css' />-->
  </head>
  <body>
    <h1>Start a Quiz</h1>
  </body>
</html>
